
@{
    ViewBag.Title = "동산상가 2층";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("1층", "DongsanFirst", "FloorInfo")</li>
                <li>@Html.ActionLink("2층", "DongsanSecond", "FloorInfo")</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <svg width="1200" height="600">
        <rect x="0" y="0" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5;cursor:pointer" />
        <text fill="blue" text-anchor="middle" font-size="15" x="24" y="19">1</text>
        @*<rect x="0" y="0" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5;cursor:pointer" onclick="alert('click!')"/>*@
        <rect x="50" y="0" rx="5" ry="5" width="18" height="28" style="fill:white;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="19"></text>
        <a xlink:href="~/쇠젓가락/"><rect x="70" y="0" rx="5" ry="5" width="48" height="28" style="fill:aqua;stroke:black;stroke-width:1;opacity:0.5" /></a>
        <a xlink:href="~/쇠젓가락/"><text fill="blue" text-anchor="middle" font-size="15" x="94" y="19">2</text></a>
        <rect x="130" y="0" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="19">3</text>
        <rect x="192" y="0" rx="5" ry="5" width="38" height="98" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="211" y="54">계단</text>
        <rect x="300" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="19">9</text>
        <rect x="340" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="359" y="19">11</text>
        <rect x="380" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="399" y="19">12</text>
        <rect x="420" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="439" y="19">12-1</text>
        <rect x="470" y="0" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="499" y="19">16</text>
        <rect x="530" y="0" rx="5" ry="5" width="38" height="98" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="549" y="54">계단</text>
        <rect x="570" y="0" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="599" y="19">18</text>
        <rect x="640" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="19">20</text>
        <rect x="680" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="19">22</text>
        <rect x="720" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="19">22-1</text>
        <rect x="760" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="19">23</text>
        <rect x="810" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="829" y="19">26</text>
        <rect x="850" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="869" y="19">26-1</text>
        <rect x="890" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="909" y="19">27</text>
        <rect x="930" y="0" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="19">28</text>
        <rect x="980" y="0" rx="5" ry="5" width="38" height="18" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="999" y="14">계단</text>
        <rect x="980" y="20" rx="5" ry="5" width="38" height="68" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="999" y="59">29</text>
        <rect x="130" y="30" rx="5" ry="5" width="58" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="54">4</text>
        <rect x="230" y="30" rx="5" ry="5" width="58" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="54">8</text>
        <rect x="470" y="30" rx="5" ry="5" width="58" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="499" y="54">17</text>
        <rect x="570" y="30" rx="5" ry="5" width="58" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="599" y="54">19</text>
        <rect x="0" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="19" y="59">5</text>
        <rect x="40" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="59">6</text>
        <rect x="80" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="99" y="59">7</text>
        <rect x="300" y="40" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="74">10</text>
        <rect x="340" y="40" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="374" y="59">14</text>
        <rect x="410" y="40" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="434" y="59">15</text>
        <rect x="640" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="59">21</text>
        <rect x="680" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="59">24</text>
        <rect x="720" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="59">25</text>
        <rect x="760" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="59">25-1</text>
        <rect x="810" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="829" y="59">30</text>
        <rect x="850" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="869" y="59">31</text>
        <rect x="890" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="909" y="59">32</text>
        <rect x="930" y="40" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="59">33</text>
        <rect x="0" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="19" y="89">45</text>
        <rect x="40" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="89">44-1</text>
        <rect x="80" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="99" y="89">44</text>
        <rect x="130" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="89">43</text>
        <rect x="230" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="89">42</text>
        <rect x="340" y="70" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="399" y="89">40</text>
        <rect x="470" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="499" y="89">39</text>
        <rect x="570" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="599" y="89">38</text>
        <rect x="640" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="89">21-1</text>
        <rect x="680" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="89">37</text>
        <rect x="720" y="70" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="759" y="89">36</text>
        <rect x="810" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="839" y="89">35</text>
        <rect x="870" y="70" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="899" y="89">34</text>
        <rect x="930" y="70" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="89">34-1</text>
        <rect x="0" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="19" y="129">46</text>
        <rect x="40" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="129">47</text>
        <rect x="80" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="99" y="129">48</text>
        <rect x="130" y="110" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="129">49</text>
        <rect x="190" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="129">50</text>
        <rect x="230" y="110" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="129">51</text>
        <rect x="300" y="110" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="144">52</text>
        <rect x="340" y="110" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="399" y="129">53</text>
        <rect x="470" y="110" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="509" y="129">55</text>
        <rect x="550" y="110" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="589" y="129">56</text>
        <rect x="640" y="110" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="144">70</text>
        <rect x="680" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="129">58</text>
        <rect x="720" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="129"></text>
        <rect x="760" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="129">59</text>
        <rect x="810" y="110" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="864" y="129">60</text>
        <rect x="930" y="110" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="129">62</text>
        <rect x="970" y="110" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="1004" y="129">63</text>
        <rect x="0" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="29" y="159">81</text>
        <rect x="60" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="89" y="159">80</text>
        <rect x="130" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="159">79</text>
        <rect x="190" y="140" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="214" y="159">78</text>
        <rect x="240" y="140" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="264" y="159">77</text>
        <rect x="340" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="369" y="159">75</text>
        <rect x="400" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="429" y="159">74</text>
        <rect x="470" y="140" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="509" y="159">73</text>
        <rect x="550" y="140" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="589" y="159">72</text>
        <rect x="680" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="709" y="159">69-1</text>
        <rect x="740" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="769" y="159">69</text>
        <rect x="810" y="140" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="159">67</text>
        <rect x="860" y="140" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="159">66</text>
        <rect x="930" y="140" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="984" y="159">64</text>
        <rect x="0" y="180" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="19" y="214">82</text>
        <rect x="40" y="180" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="79" y="199">83</text>
        <rect x="130" y="180" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="199">84</text>
        <rect x="190" y="180" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="199">84-1</text>
        <rect x="230" y="180" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="199">85</text>
        <rect x="300" y="180" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="214">86</text>
        <rect x="340" y="180" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="374" y="199">87</text>
        <rect x="410" y="180" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="434" y="199">88</text>
        <rect x="470" y="180" rx="5" ry="5" width="50" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="495" y="199">89</text>
        <rect x="522" y="180" rx="5" ry="5" width="50" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="547" y="199">90</text>
        <rect x="574" y="180" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="601" y="199">90-1</text>
        <rect x="640" y="180" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="199">91</text>
        <rect x="680" y="180" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="704" y="199">92</text>
        <rect x="730" y="180" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="764" y="199">93</text>
        <rect x="810" y="180" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="199">94</text>
        <rect x="860" y="180" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="199">95</text>
        <rect x="930" y="180" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="964" y="199">96</text>
        <rect x="1000" y="180" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="1019" y="199">97</text>
        <rect x="40" y="210" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="79" y="229">111</text>
        <rect x="130" y="210" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="229">110</text>
        <rect x="190" y="210" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="214" y="229">109</text>
        <rect x="240" y="210" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="264" y="229">108</text>
        <rect x="340" y="210" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="364" y="229">106</text>
        <rect x="390" y="210" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="424" y="229">105</text>
        <rect x="470" y="210" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="509" y="229">104</text>
        <rect x="550" y="210" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="589" y="229">103</text>
        <rect x="640" y="210" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="229">91-1</text>
        <rect x="680" y="210" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="709" y="229">102</text>
        <rect x="740" y="210" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="769" y="229">101</text>
        <rect x="810" y="210" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="864" y="229">99</text>
        <rect x="930" y="210" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="984" y="229">98</text>
        <rect x="0" y="250" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="24" y="269">113</text>
        <rect x="50" y="250" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="84" y="269">114</text>
        <rect x="130" y="250" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="269">115</text>
        <rect x="190" y="250" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="269">116</text>
        <rect x="230" y="250" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="269">117</text>
        <rect x="300" y="250" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="269">118</text>
        <rect x="340" y="250" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="364" y="269">119</text>
        <rect x="390" y="250" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="424" y="269">120</text>
        <rect x="470" y="250" rx="5" ry="5" width="48" height="30" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="494" y="270"></text>
        <rect x="520" y="250" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="549" y="269">121</text>
        <rect x="580" y="250" rx="5" ry="5" width="48" height="30" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="604" y="270"></text>
        <rect x="640" y="250" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="284">122</text>
        <rect x="680" y="250" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="704" y="269">123</text>
        <rect x="730" y="250" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="764" y="269">124</text>
        <rect x="810" y="250" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="269">125</text>
        <rect x="860" y="250" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="269">126</text>
        <rect x="930" y="250" rx="5" ry="5" width="58" height="28" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="959" y="269">계단</text>
        <rect x="990" y="250" rx="5" ry="5" width="48" height="28" style="fill:white;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="1014" y="269"></text>
        <rect x="0" y="280" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="19" y="299">136-1</text>
        <rect x="40" y="280" rx="5" ry="5" width="78" height="28" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="79" y="299">계단</text>
        <rect x="130" y="280" rx="5" ry="5" width="51" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="155.5" y="299">136</text>
        <rect x="183" y="280" rx="5" ry="5" width="51" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="208.5" y="299">135</text>
        <rect x="236" y="280" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="262" y="299">134</text>
        <rect x="300" y="280" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="299">118-1</text>
        <rect x="340" y="280" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="359" y="299">133</text>
        <rect x="380" y="280" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="419" y="299">132</text>
        <rect x="470" y="280" rx="5" ry="5" width="158" height="28" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="549" y="299">계단</text>
        <rect x="680" y="280" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="299">150</text>
        <rect x="810" y="280" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="299">129</text>
        <rect x="860" y="280" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="299">129-1</text>
        <rect x="930" y="280" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="299">128</text>
        <rect x="970" y="280" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="1004" y="299">127</text>
        <rect x="0" y="320" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="39" y="339">137</text>
        <rect x="80" y="320" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="99" y="339">140</text>
        <rect x="130" y="320" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="339">141</text>
        <rect x="190" y="320" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="339">142</text>
        <rect x="230" y="320" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="339">143</text>
        <rect x="300" y="320" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="329" y="339">144</text>
        <rect x="360" y="320" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="379" y="339">145</text>
        <rect x="400" y="320" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="429" y="339">146</text>
        <rect x="470" y="320" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="509" y="339">147</text>
        <rect x="550" y="320" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="589" y="339">148</text>
        <rect x="640" y="320" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="339">149</text>
        <rect x="680" y="320" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="704" y="339">150-1</text>
        <rect x="730" y="320" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="764" y="339">150</text>
        <rect x="810" y="320" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="864" y="339">152</text>
        <rect x="930" y="320" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="984" y="339">154</text>
        <rect x="0" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="29" y="369">170</text>
        <rect x="60" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="89" y="369">169</text>
        <rect x="130" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="159" y="369">168</text>
        <rect x="190" y="350" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="369">166-1</text>
        <rect x="230" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="369">166</text>
        <rect x="300" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="329" y="369">165</text>
        <rect x="360" y="350" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="379" y="369">177</text>
        <rect x="400" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="429" y="369">163</text>
        <rect x="470" y="350" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="509" y="369">162</text>
        <rect x="550" y="350" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="589" y="369">160</text>
        <rect x="640" y="350" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="369">159</text>
        <rect x="680" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="709" y="369">158</text>
        <rect x="740" y="350" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="769" y="369">157</text>
        <rect x="810" y="350" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="864" y="369">156</text>
        <rect x="930" y="350" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="984" y="369">155</text>
        <rect x="0" y="390" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="409">171</text>
        <rect x="130" y="390" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="156" y="409">173</text>
        <rect x="184" y="390" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="211" y="409">175</text>
        <rect x="240" y="390" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="264" y="409">175-1</text>
        <rect x="300" y="390" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="424">176</text>
        <rect x="340" y="390" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="364" y="409">177</text>
        <rect x="390" y="390" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="424" y="409">178</text>
        <rect x="470" y="390" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="497" y="409">179</text>
        <rect x="526" y="390" rx="5" ry="5" width="46" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="549" y="409">180</text>
        <rect x="574" y="390" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="601" y="409">181</text>
        <rect x="640" y="390" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="409">182</text>
        <rect x="680" y="390" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="709" y="409">183</text>
        <rect x="740" y="390" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="769" y="409">184</text>
        <rect x="810" y="390" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="409">185</text>
        <rect x="860" y="390" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="409">187</text>
        <rect x="930" y="390" rx="5" ry="5" width="108" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="984" y="409">188</text>
        <rect x="0" y="420" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="59" y="439">202</text>
        <rect x="130" y="420" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="164" y="439">201</text>
        <rect x="200" y="420" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="219" y="439">200</text>
        <rect x="240" y="420" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="264" y="439">199</text>
        <rect x="340" y="420" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="369" y="439">198</text>
        <rect x="400" y="420" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="429" y="439">197</text>
        <rect x="470" y="420" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="497" y="439">196</text>
        <rect x="526" y="420" rx="5" ry="5" width="46" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="549" y="439">195-1</text>
        <rect x="574" y="420" rx="5" ry="5" width="54" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="601" y="439">195</text>
        <rect x="640" y="420" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="439">194</text>
        <rect x="680" y="420" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="439">192</text>
        <rect x="810" y="420" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="834" y="439">191</text>
        <rect x="860" y="420" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="889" y="439">190</text>
        <rect x="930" y="420" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="949" y="439">189-1</text>
        <rect x="970" y="420" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="1004" y="439">189</text>
        <rect x="0" y="460" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="39" y="479">202</text>
        <rect x="80" y="460" rx="5" ry="5" width="38" height="98" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="99" y="514">계단</text>
        <rect x="130" y="460" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="149" y="494">206</text>
        <rect x="170" y="460" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="199" y="479">207</text>
        <rect x="230" y="460" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="479">208</text>
        <rect x="300" y="460" rx="5" ry="5" width="38" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="319" y="494">209</text>
        <rect x="340" y="460" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="399" y="479">211</text>
        <rect x="470" y="460" rx="5" ry="5" width="52" height="98" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="496" y="514">212</text>
        <rect x="524" y="460" rx="5" ry="5" width="50" height="98" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="549" y="514">계단</text>
        <rect x="576" y="460" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="602" y="479">213</text>
        <rect x="640" y="460" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="479">214</text>
        <rect x="680" y="460" rx="5" ry="5" width="78" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="719" y="479">215</text>
        <rect x="760" y="460" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="479">216</text>
        <rect x="810" y="460" rx="5" ry="5" width="108" height="70" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="864" y="500">계단</text>
        <rect x="920" y="460" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="979" y="479">217</text>
        <rect x="170" y="490" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="199" y="509">238</text>
        <rect x="230" y="490" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="259" y="509">237</text>
        <rect x="340" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="359" y="509">232</text>
        <rect x="380" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="399" y="509">231</text>
        <rect x="420" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="439" y="509">230</text>
        <rect x="576" y="490" rx="5" ry="5" width="52" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="602" y="514">213-1</text>
        <rect x="640" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="509">223</text>
        <rect x="680" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="509">222</text>
        <rect x="720" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="509">221</text>
        <rect x="760" y="490" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="509">220</text>
        <rect x="920" y="490" rx="5" ry="5" width="118" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="979" y="509">219</text>
        <rect x="130" y="530" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="156" y="549">242</text>
        <rect x="184" y="530" rx="5" ry="5" width="50" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="209" y="549">241</text>
        <rect x="236" y="530" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="262" y="549">240</text>
        <rect x="300" y="530" rx="5" ry="5" width="48" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="324" y="549">236</text>
        <rect x="350" y="530" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="369" y="549">235</text>
        <rect x="390" y="530" rx="5" ry="5" width="68" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="424" y="549">234</text>
        <rect x="576" y="530" rx="5" ry="5" width="52" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="602" y="549">227</text>
        <rect x="640" y="530" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="659" y="549">227</text>
        <rect x="680" y="530" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="699" y="549">226</text>
        <rect x="720" y="530" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="739" y="549">225</text>
        <rect x="760" y="530" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="blue" text-anchor="middle" font-size="15" x="779" y="549">224</text>

    </svg>
</div>

