
@{
    ViewBag.Title = "5지구 1층";
}
<h2>@ViewBag.Title</h2>

<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("1층", "FifthFirst", "FloorInfo")</li>
            <li>@Html.ActionLink("2층", "FifthSecond", "FloorInfo")</li>
        </ul>
    </div>
</div>

<div class="container">
    <svg width="1200" height="700">
        <rect x="60" y="0" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="78" y="19">5</text>
        <rect x="98" y="0" rx="5" ry="5" width="36" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="116" y="20"></text>
        <rect x="136" y="0" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="19"></text>
        <rect x="174" y="0" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="192" y="19">6</text>
        <rect x="212" y="0" rx="5" ry="5" width="34" height="12" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="229" y="11">7</text>
        <rect x="280" y="0" rx="5" ry="5" width="34.6" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="297.3" y="19"></text>
        <rect x="316.6" y="0" rx="5" ry="5" width="34.6" height="28" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="333.9" y="19">계단</text>
        <rect x="353.2" y="0" rx="5" ry="5" width="20.8" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="363.6" y="19">8-1</text>
        <rect x="376" y="0" rx="5" ry="5" width="20.6" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="386.3" y="19">8-2</text>
        <rect x="398.6" y="0" rx="5" ry="5" width="39.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="418.3" y="19">9</text>
        <rect x="440" y="0" rx="5" ry="5" width="58" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="469" y="19">10</text>
        <rect x="520" y="0" rx="5" ry="5" width="33" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="536.5" y="19">11</text>
        <rect x="555" y="0" rx="5" ry="5" width="33" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="571.5" y="19">12</text>
        <rect x="590" y="0" rx="5" ry="5" width="33" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="606.5" y="19">13</text>
        <rect x="625" y="0" rx="5" ry="5" width="33" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="641.5" y="19">14</text>
        <rect x="680" y="0" rx="5" ry="5" width="28" height="19.7" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="14.85">15</text>
        <rect x="710" y="0" rx="5" ry="5" width="28" height="45.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="27.6">16</text>
        <rect x="212" y="14" rx="5" ry="5" width="34" height="14" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="229" y="26">81</text>
        <rect x="680" y="21.7" rx="5" ry="5" width="28" height="19.7" style="fill:Transparent;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="36.55"></text>
        <rect x="60" y="30" rx="5" ry="5" width="38" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="79" y="49"></text>
        <rect x="98" y="30" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="116" y="49">4</text>
        <rect x="136" y="30" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="49">182</text>
        <rect x="174" y="30" rx="5" ry="5" width="36" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="192" y="49">181</text>
        <rect x="212" y="30" rx="5" ry="5" width="34" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="229" y="49">157</text>
        <rect x="280" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294.7" y="49">156</text>
        <rect x="311.4" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="326.1" y="49">133</text>
        <rect x="342.8" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="357.5" y="49">132</text>
        <rect x="374.2" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="388.9" y="49">131</text>
        <rect x="405.6" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="420.3" y="49">113</text>
        <rect x="437" y="30" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="451.7" y="49">112</text>
        <rect x="468.4" y="30" rx="5" ry="5" width="29.6" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="483.2" y="49">88</text>
        <rect x="520" y="30" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="533" y="49">64</text>
        <rect x="548" y="30" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="561" y="49">63</text>
        <rect x="576" y="30" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="589" y="49">62</text>
        <rect x="604" y="30" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="617" y="49">61</text>
        <rect x="632" y="30" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="645" y="49">37</text>
        <rect x="680" y="43.4" rx="5" ry="5" width="28" height="41.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="69">36</text>
        <rect x="710" y="47.2" rx="5" ry="5" width="28" height="45.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="74.8">17</text>
        <rect x="30" y="80" rx="5" ry="5" width="110" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="85" y="99">3</text>
        <rect x="142" y="80" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="155" y="99">183</text>
        <rect x="190" y="80" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="102">180</text>
        <rect x="220" y="80" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="102">158</text>
        <rect x="280" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="106.5">155</text>
        <rect x="310" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="106.5">134</text>
        <rect x="360" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="106.5">130</text>
        <rect x="390" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="106.5">114</text>
        <rect x="440" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="106.5">111</text>
        <rect x="470" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="106.5">89</text>
        <rect x="520" y="80" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="114">87</text>
        <rect x="550" y="80" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="102">65</text>
        <rect x="600" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="106.5">60</text>
        <rect x="630" y="80" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="106.5">38</text>
        <rect x="680" y="86.6" rx="5" ry="5" width="28" height="41.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="112.3">35</text>
        <rect x="710" y="94.4" rx="5" ry="5" width="28" height="45.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="122">18</text>
        <rect x="30" y="108" rx="5" ry="5" width="26" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="43" y="128"></text>
        <rect x="86" y="110" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="99" y="129">203</text>
        <rect x="114" y="110" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="127" y="129">202</text>
        <rect x="142" y="110" rx="5" ry="5" width="26" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="155" y="129">184</text>
        <rect x="190" y="116" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="138">179</text>
        <rect x="220" y="116" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="138">159</text>
        <rect x="550" y="116" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="138">66</text>
        <rect x="280" y="125" rx="5" ry="5" width="30" height="20.5" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="295" y="140.25">154</text>
        <rect x="312" y="125" rx="5" ry="5" width="26" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="325" y="151.5">135</text>
        <rect x="360" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="151.5">129</text>
        <rect x="390" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="151.5">115</text>
        <rect x="440" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="151.5">110</text>
        <rect x="470" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="151.5">90</text>
        <rect x="600" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="151.5">59</text>
        <rect x="630" y="125" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="151.5">39</text>
        <rect x="680" y="130" rx="5" ry="5" width="28" height="41.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="155.7">34</text>
        <rect x="30" y="140" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="44" y="174">2</text>
        <rect x="60" y="140" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="174">204</text>
        <rect x="520" y="140" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="174">86</text>
        <rect x="710" y="141.6" rx="5" ry="5" width="28" height="45.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="169.2">18-1</text>
        <rect x="280" y="147.5" rx="5" ry="5" width="30" height="20.5" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="295" y="162.75">154-1</text>
        <rect x="190" y="152" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="174">178</text>
        <rect x="220" y="152" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="174">160</text>
        <rect x="550" y="152" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="174">67</text>
        <rect x="110" y="160" rx="5" ry="5" width="28" height="48" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="189">201</text>
        <rect x="140" y="160" rx="5" ry="5" width="28" height="48" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="189">185</text>
        <rect x="280" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="196.5">153</text>
        <rect x="310" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="196.5">136</text>
        <rect x="360" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="196.5">128</text>
        <rect x="390" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="196.5">116</text>
        <rect x="440" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="196.5">109</text>
        <rect x="470" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="196.5">91</text>
        <rect x="600" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="196.5">58</text>
        <rect x="630" y="170" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="196.5">40</text>
        <rect x="680" y="173.2" rx="5" ry="5" width="28" height="41.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="198.8">33</text>
        <rect x="190" y="188" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="210">177</text>
        <rect x="220" y="188" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="210">161</text>
        <rect x="550" y="188" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="210">68</text>
        <rect x="710" y="188.8" rx="5" ry="5" width="28" height="45.2" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="724" y="216.4">계단</text>
        <rect x="30" y="200" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="44" y="234">1</text>
        <rect x="60" y="200" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="234">205</text>
        <rect x="520" y="200" rx="5" ry="5" width="28" height="58" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="234">85</text>
        <rect x="110" y="210" rx="5" ry="5" width="28" height="48" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="239">200</text>
        <rect x="140" y="210" rx="5" ry="5" width="28" height="48" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="239">186</text>
        <rect x="280" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="241.5">152</text>
        <rect x="310" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="241.5">137</text>
        <rect x="360" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="241.5">127</text>
        <rect x="390" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="241.5">117</text>
        <rect x="440" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="241.5">108</text>
        <rect x="470" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="241.5">92</text>
        <rect x="600" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="241.5">57</text>
        <rect x="630" y="215" rx="5" ry="5" width="28" height="43" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="241.5">41</text>
        <rect x="680" y="216.6" rx="5" ry="5" width="28" height="41.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="242.3">32</text>
        <rect x="190" y="224" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="246">176</text>
        <rect x="220" y="224" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="246">162</text>
        <rect x="550" y="224" rx="5" ry="5" width="28" height="34" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="246">69</text>
        <rect x="710" y="236" rx="5" ry="5" width="28" height="21.6" style="fill:purple;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="724" y="251.8">ATM</text>
        <rect x="60" y="280" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="300">206</text>
        <rect x="110" y="280" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="304">199</text>
        <rect x="140" y="280" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="304">187</text>
        <rect x="190" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="300.7">175</text>
        <rect x="220" y="280" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="304">163</text>
        <rect x="280" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="300.7">151</text>
        <rect x="310" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="300.7">138</text>
        <rect x="360" y="280" rx="5" ry="5" width="58" height="98" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="389" y="334">계단</text>
        <rect x="440" y="280" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="298.3">107</text>
        <rect x="470" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="300.7">93</text>
        <rect x="520" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="300.7">84</text>
        <rect x="550" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="300.7">70</text>
        <rect x="600" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="300.7">56</text>
        <rect x="630" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="300.7">42</text>
        <rect x="680" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="300.7">31</text>
        <rect x="710" y="280" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="300.7">19</text>
        <rect x="440" y="308.6" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="326.9">106</text>
        <rect x="60" y="312" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="332">207</text>
        <rect x="190" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="334">174</text>
        <rect x="280" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="334">150</text>
        <rect x="310" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="334">139</text>
        <rect x="470" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="334">94</text>
        <rect x="520" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="334">83</text>
        <rect x="550" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="334">71</text>
        <rect x="600" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="334">55</text>
        <rect x="630" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="334">43</text>
        <rect x="680" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="334">30</text>
        <rect x="710" y="313.4" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="334">20</text>
        <rect x="110" y="320" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="344">198</text>
        <rect x="140" y="320" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="344">188</text>
        <rect x="220" y="320" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="344">164</text>
        <rect x="440" y="337.2" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="355.5">105</text>
        <rect x="60" y="344" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="364">208</text>
        <rect x="190" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="367.3">173</text>
        <rect x="280" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="367.3">149</text>
        <rect x="310" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="367.3">140</text>
        <rect x="470" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="367.3">95</text>
        <rect x="520" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="367.3">82</text>
        <rect x="550" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="367.3">72</text>
        <rect x="600" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="367.3">54</text>
        <rect x="630" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="367.3">44</text>
        <rect x="680" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="367.3">29</text>
        <rect x="710" y="346.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="367.3">21</text>
        <rect x="110" y="360" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="384">197</text>
        <rect x="140" y="360" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="384">189</text>
        <rect x="220" y="360" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="384">165</text>
        <rect x="440" y="365.8" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="384.1">104</text>
        <rect x="60" y="376" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="396">209</text>
        <rect x="190" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="400.6">172</text>
        <rect x="280" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="400.6">148</text>
        <rect x="310" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="400.6">141</text>
        <rect x="360" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="400.6">126</text>
        <rect x="390" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="400.6">118</text>
        <rect x="470" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="400.6">96</text>
        <rect x="520" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="400.6">80</text>
        <rect x="550" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="400.6">73</text>
        <rect x="600" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="400.6">53</text>
        <rect x="630" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="400.6">45</text>
        <rect x="680" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="400.6">28</text>
        <rect x="710" y="380" rx="5" ry="5" width="28" height="31.2" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="400.6">22</text>
        <rect x="440" y="394.4" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="412.7">103</text>
        <rect x="110" y="400" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="424">196</text>
        <rect x="140" y="400" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="424">190</text>
        <rect x="220" y="400" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="424">166</text>
        <rect x="60" y="408" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="428">210</text>
        <rect x="190" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="433.9">171</text>
        <rect x="280" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="433.9">147</text>
        <rect x="310" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="433.9">142</text>
        <rect x="360" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="433.9">125</text>
        <rect x="390" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="433.9">119</text>
        <rect x="470" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="433.9">97</text>
        <rect x="520" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="433.9">79</text>
        <rect x="550" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="433.9">74</text>
        <rect x="600" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="433.9">52</text>
        <rect x="630" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="433.9">46</text>
        <rect x="680" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="433.9">27</text>
        <rect x="710" y="413.2" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="433.9">23</text>
        <rect x="440" y="423" rx="5" ry="5" width="28" height="26.6" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="441.3">102</text>
        <rect x="60" y="440" rx="5" ry="5" width="28" height="30" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="460">211</text>
        <rect x="110" y="440" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="124" y="464">195</text>
        <rect x="140" y="440" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="154" y="464">191</text>
        <rect x="220" y="440" rx="5" ry="5" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="234" y="464">167</text>
        <rect x="190" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="204" y="467.3">170</text>
        <rect x="280" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294" y="467.3">146</text>
        <rect x="310" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="324" y="467.3">143</text>
        <rect x="360" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="467.3">124</text>
        <rect x="390" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="404" y="467.3">120</text>
        <rect x="470" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="484" y="467.3">98</text>
        <rect x="520" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534" y="467.3">78</text>
        <rect x="550" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564" y="467.3">75</text>
        <rect x="600" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="614" y="467.3">51</text>
        <rect x="630" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="644" y="467.3">47</text>
        <rect x="680" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="694" y="467.3">26</text>
        <rect x="710" y="446.6" rx="5" ry="5" width="28" height="31.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="724" y="467.3">24</text>
        <rect x="440" y="451.6" rx="5" ry="5" width="28" height="26.4" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="454" y="469.8">101</text>
        <rect x="60" y="472" rx="5" ry="5" width="28" height="26" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="74" y="490">212</text>
        <rect x="88" y="500" rx="5" ry="5" width="30" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="103" y="519">194</text>
        <rect x="120" y="500" rx="5" ry="5" width="30" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="135" y="519">193</text>
        <rect x="152" y="500" rx="5" ry="5" width="30" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="167" y="519">192</text>
        <rect x="184" y="500" rx="5" ry="5" width="30" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="199" y="519">169</text>
        <rect x="216" y="500" rx="5" ry="5" width="30" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="231" y="519">168</text>
        <rect x="280" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="294.7" y="519">145</text>
        <rect x="311.4" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="326.1" y="519">144</text>
        <rect x="342.8" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="357.5" y="519">123</text>
        <rect x="374.2" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="388.9" y="519">122</text>
        <rect x="405.6" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="420.3" y="519">121</text>
        <rect x="437" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="451.7" y="519">100</text>
        <rect x="468.4" y="500" rx="5" ry="5" width="29.6" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="483.2" y="519">99</text>
        <rect x="520" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534.7" y="519">77</text>
        <rect x="551.4" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="566.1" y="519">76</text>
        <rect x="582.8" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="597.5" y="519">50</text>
        <rect x="614.2" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="628.9" y="519">49</text>
        <rect x="645.6" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="660.3" y="519">48</text>
        <rect x="677" y="500" rx="5" ry="5" width="29.4" height="28" style="fill:Transparent;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="691.7" y="519"></text>
        <rect x="708.4" y="500" rx="5" ry="6" width="29.6" height="28" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="723.2" y="519">25</text>
        <rect x="0" y="530" rx="5" ry="7" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="14" y="554">230</text>
        <rect x="30" y="530" rx="5" ry="8" width="28" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="44" y="554">229</text>
        <rect x="60" y="530" rx="5" ry="9" width="26" height="38" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="73" y="554">계단</text>
        <rect x="88" y="530" rx="5" ry="10" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="107" y="554">228</text>
        <rect x="128" y="530" rx="5" ry="11" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="147" y="554">227</text>
        <rect x="168" y="530" rx="5" ry="12" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="187" y="554">226</text>
        <rect x="208" y="530" rx="5" ry="13" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="227" y="554">225</text>
        <rect x="280" y="530" rx="5" ry="14" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="297.3" y="554">224</text>
        <rect x="316.6" y="530" rx="5" ry="15" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="333.9" y="554">223</text>
        <rect x="353.2" y="530" rx="5" ry="16" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="370.5" y="554">222</text>
        <rect x="389.8" y="530" rx="5" ry="17" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="407.1" y="554">221</text>
        <rect x="426.4" y="530" rx="5" ry="18" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="443.7" y="554">220</text>
        <rect x="463" y="530" rx="5" ry="19" width="34.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="480.3" y="554">219</text>
        <rect x="520" y="530" rx="5" ry="20" width="29.4" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="534.7" y="554">218</text>
        <rect x="551.4" y="530" rx="5" ry="21" width="29.4" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="566.1" y="554">217</text>
        <rect x="582.8" y="530" rx="5" ry="22" width="29.4" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="597.5" y="554">216</text>
        <rect x="614.2" y="530" rx="5" ry="23" width="29.4" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="628.9" y="554">215</text>
        <rect x="645.6" y="530" rx="5" ry="24" width="29.4" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="660.3" y="554">214</text>
        <rect x="677" y="530" rx="5" ry="25" width="29.4" height="38" style="fill:brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="white" text-anchor="middle" font-size="15" x="691.7" y="554">계단</text>
        <rect x="708.4" y="530" rx="5" ry="26" width="29.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="723.2" y="554">213</text>
        <rect x="0" y="590" rx="5" ry="27" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="19" y="614">231</text>
        <rect x="40" y="590" rx="5" ry="28" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="59" y="614">232</text>
        <rect x="80" y="590" rx="5" ry="29" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="99" y="614">233</text>
        <rect x="120" y="590" rx="5" ry="30" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="139" y="614">234</text>
        <rect x="160" y="590" rx="5" ry="31" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="179" y="614">235</text>
        <rect x="200" y="590" rx="5" ry="32" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="219" y="614">236</text>
        <rect x="240" y="590" rx="5" ry="33" width="38" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="259" y="614">237</text>
        <rect x="280" y="590" rx="5" ry="34" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="298" y="614">238</text>
        <rect x="318" y="590" rx="5" ry="35" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="336" y="614">239</text>
        <rect x="356" y="590" rx="5" ry="36" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="374" y="614">240</text>
        <rect x="394" y="590" rx="5" ry="37" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="412" y="614">241</text>
        <rect x="432" y="590" rx="5" ry="38" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="450" y="614">242</text>
        <rect x="470" y="590" rx="5" ry="39" width="36" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="488" y="614">243</text>
        <rect x="508" y="590" rx="5" ry="40" width="36.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="526.3" y="614">244</text>
        <rect x="546.6" y="590" rx="5" ry="41" width="36.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="564.9" y="614">245</text>
        <rect x="585.2" y="590" rx="5" ry="42" width="36.8" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="603.6" y="614">246</text>
        <rect x="624" y="590" rx="5" ry="43" width="36.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="642.3" y="614">247</text>
        <rect x="662.6" y="590" rx="5" ry="44" width="36.6" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="680.9" y="614">248</text>
        <rect x="701.2" y="590" rx="5" ry="45" width="36.8" height="38" style="fill:grey;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="black" text-anchor="middle" font-size="15" x="719.6" y="614">249</text>


    </svg>
</div>

