@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>서문시장</h1>
    <p class="lead">서문시장 관련 정보를 제공해 드립니다.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>모바일로 보기</h2>
        <img src="https://westgateproject.blob.core.windows.net/blob1/storeIcon.jpg" width="262" height="193" alt="Available on Store" usemap="#storemap" />
        <map name="storemap">
            <area shape="rect" coords="0, 0, 262, 96.5" href="https://itunes.apple.com/us/app/apple-store/id375380948?mt=8" alt="Available on Appstore" />
            <area shape="rect" coords="0, 96.5, 262, 193" href="https://play.google.com/store/apps/details?id=hyoseop.metal.chopsticks.westgateproject" alt="Available on Google Play" />
        </map>
    </div>
    <div class="col-md-4">
        <h2>서문시장 약도</h2>
        <a href="/Home/About/">
            <img src="https://hyundaiplastic.blob.core.windows.net/test-blob-container/%E1%84%89%E1%85%A5%E1%84%86%E1%85%AE%E1%86%AB%E1%84%89%E1%85%B5%E1%84%8C%E1%85%A1%E1%86%BC%20%E1%84%8C%E1%85%A9%E1%84%80%E1%85%A1%E1%86%B7%E1%84%83%E1%85%A9.png" width="300" height="217" alt="서문시장 약도" />
        </a>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div>
    <address>
        <strong>운영자 홈페이지:</strong> <a href="http://	xn--o39ax1t4linng.xn--3e0b707e">http://쇠젓가락.한국</a><br />
        <strong>운영자 e-mail :</strong> <a href="mailto:chopsticksOfMetal@gmail.com">chopsticksOfMetal@gmail.com</a>
    </address>
</div>